.para {
  letter-spacing: 2px;
  color: white;
  margin-left: 750px;
  margin-top: 300px
}

body {
  background-color: #393053
}

h1 {
  color: white;
  margin-left: 750px;
  margin-top: 
}

li {
  color: white;
  margin-top: 300px;
  margin-left: 750px;
}
